@import "variables";
@import "mixins";

.app {
  display: flex;
  font-family: 'Inter', sans-serif;
  background: #f4f4f2;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;

  .content {
    padding: $padding;
  }
}
